<!DOCTYPE html>
<html>
    <head>
        <title>IceCreame</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/assets/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
                <nav class="navbar navbar-inverse" data-spy="affix" >
                    <div class="container-fluid">
                        <div class="navbar-header">
                          <a class="navbar-brand" href="#">Billy Goat's IceCreame</a>
                        </div>
                        <ul class="nav navbar-nav">
                          <li class="active"><a href="/">Home</a></li>
                          <li><a href="/Contact">Contact Us</a></li>
                          <li><a href="/Purchase">Purchase</a></li>
                        </ul>
                        
                        <form class="navbar-form navbar-left">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" name="search">
                          </div>
                          <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                      </div>
                </nav>
            
        </header>
        <section>
            <section>
                <div class="Main_1">
                    <div class="Main_1_01">
                        <h2>B<sub>g</sub></h2>
                        <div class="arrow">
                            <span style='font-size:20px;color:darkorange;'>&#9656;
                            <div class="line"></div>
                            </span>
                            <span style='font-size:20px; position:absolute; top:-0px;left:125px;color:darkorange;'>&#9666;</span>
                          </div><br>
                        <p>Ice Cream shouldn't be a guilty pleasure. It should just be pure, unadulterated goodness.
                            That's why we use all-natural,local ingredients and why we chose goat's milk instead of
                             cow's milk. Now, you have all rich taste,perfectlyblended flavors, and creamy
                              deliciouresness, but with far less lactose and for more calcium.

                              <h2>Your belly just said,"Thank You",
                                          Yor're so Welcome
                              </h2>
                        </p>
                    </div>
                    <div class="Main_1_02">
                    <img src="/assets/ice2.jpg" width="100%" height="100%">
                    </div>
                </div>
            </section>
            <section>
                <div class="Main_2">
                    <i class="fa fa-twitter fa-4x" id="twitter" aria-hidden="true"></i>
                    <h5 class="text">@BGIceCreamCo</h5>
                    <h3 class="link"><span style="color: white;">RT</span> @SANDHUHorizonTV:@BGIceCreamCo <i><u>pic.twitter.com/67cdg45</u></i></h3>
                </div>
            </section>
        <section>
            <div class="Main_3">
                <img src="/assets/coffe.png" width="35%">
                <img src="/assets/ice1.jpg" width="35%">
                <img src="/assets/Coffee.jpg">
            </div>
        </section>
        <section>

        </section>
        <section class="Main_5">
            <img src="/assets/final2.jpg" width="100%" height="100%" class="img">
        </section>
        <section>
            <div class="Main_6">
                <div class="Main_6_01">
                    <h2 style="color: black;">B<sub>g</sub></h2>
                    <div class="arrow">
                        <div class="line1"></div>
                      </div><br>
                    <p style="font-family:Courier New;">Billy goat is a company based in stillwater,Oklahoma that creates all-natural, delicius goat's milk 
                        ice cream as a healthy alternative for desert
                    </p>
                    <div id="button">
                        <button  class="btn1">FIND US IN A STORE</button>
                        <button  class="btn2">PUT US IN YOUR STORE</button>
                        <button  class="btn3">DELIEVER TO YOUR DOOR</button>
                    </div>
                    <div class="Main_6_02">
                            <h2 style="color: black;" class="text-muted">FOLLOW US FOR DELICIOUS UPDATES</h2>
                            <div class="Main_6_021">
                                <a href="https://www.facebook.com"><i class="fa fa-facebook fa-2x" aria-hidden="true" style="color:darkblue;"></i></a>
                                <a href="https://www.twitter.com"><i class="fa fa-twitter fa-2x" aria-hidden="true" style="color: skyblue;"></i></a>
                                <a href="https://www.instagram.com"><i class="fa fa-instagram fa-2x" aria-hidden="true" style="color: crimson;"></i></a>
                            </div>
                    </div>
                </div>
            </section>
        </section>
        <footer class=" center-block text-muted">
            <p><span style="margin-right: 30px;">405-335-6697</span><span style="margin-right: 30px;">141458 Sangra Road,Stillwater,78915</span><a href="https://www.gmail.com"><strong style="margin-right: 20px; color: orange;">Email Us</strong></a><span>@2015 BillygoatIceCremCo</span></p>
        </footer>
    </body>
</html>